---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Blog">
  <div class="w-screen text-center">
    <div class="my-16">
      <h1 class="text-6xl">Blog</h1>
      <h3>See what's happening</h3>
    </div>
  </div>
</BaseLayout>
