---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="home">
  <div class="hero flex justify-center items-center">
    <div class="text-center select-none text-white">
      <h1 class="text-3xl">Into the Action</h1>
      <h1 class="text text-8xl">Noah Dal Ben</h1>
    </div>
  </div>
</BaseLayout>
