---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="hero flex justify-center items-center">
    <div class="text-center">
      <h1 class="text-slate-200 text-3xl">Into the Action</h1>
      <h1 class="text-slate-200 text text-8xl">Noah Dal Ben</h1>
    </div>
  </div>
</BaseLayout>
