<nav>
  <div
    class="md:flex hidden flex-col backdrop-blur-xl bg-slate-200/50 border border-slate-300 w-min p-4 rounded-xl text-slate-800 gap-4 md:fixed top-1/2 -translate-y-1/2 -left-8 hover:left-4 duration-200 ease-in-out"
  >
    <a class="text-2xl" href="/">
      <i class="fa-solid fa-home"></i>
    </a>
    <a class="text-2xl" href="/blog">
      <i class="fa-solid fa-newspaper"></i>
    </a>
    <a class="text-2xl" href="/social">
      <i class="fa-solid fa-address-card"></i>
    </a>
  </div>
</nav>
